# ignore stuff installed here
/bin
/include
/lib
/sbin
/share
# Sort of often dumped or linked here.
/android-sdk-linux
# shortcut to my web server files.
/htdocs
# Good place for apps that are their own bundle instead of unix style install.
/Applications
# Versions of workspace that are case specific.
workspace.*
