# vim stuff
.viminfo
*.sw?
.vimrc
_vimrc
.gvimrc
_gvimrc
# various history files
.history
*_history
.lesshst
# xsession stuff.
.ICEauthority
.Xauthority
.xsession-errors
.xsession-errors.old
# csh/tcsh stuff I don't care about.
.cshrc
.login
# Desktop / GUI related stuff
.cache
.ccache
.dbus
Desktop
Documents
Download*
Music
Pictures
Videos
# Dropbox stuff
Dropbox
.dropbox
.dropbox-dist
# Insync / Google Drive stuff
*@gmail.com
# misc stuff
.gtk-bookmarks
.pythonrc.local
.selected_editor
# Crap I'm sure to never want committed to git.
.IdeaIC13
.VirtualBox
.android
.cinnamon
.dmenu_cache
.dmrc
.esd_auth
.evolution
.fontconfig
.gnupg
.gconf
.gconfd
.gegl-*
.gimp-*
.gitk
.gkrellm2
.gksu.lock
.gnome*
.gradle
.gstreamer-*
.hplip
.icedtea
.irbrc
.java
.jline-jython.history
.jython-cache
.m2
.mozilla
.mplayer
.nvidia-settings-rc
.pki
.pulse
.pulse-cookie
.purple
.putty
.recently-used
.rhosts
.steam
.steampath
.steampid
.subversion
.thumbnails
.wget-hsts
.wine
.xmms
.xfce4-session.verbose-log
.xfce4-session.verbose-log.last
.xscreensaver

# crap that only shows up in Windows land.
AppData
Contacts
Favorites
Links
NTUSER.DAT*
OneDrive
Saved Games
Searches
_viminfo
_viminfo
ntuser.dat*
ntuser.ini*
vimfiles
