# vim stuff
.viminfo
_viminfo
*.sw?
/.vimrc
/_vimrc
/.gvimrc
/_gvimrc

# various history files
/.history
/*_history
/.lesshst

# xsession stuff.
/.ICEauthority
/.Xauthority
/.xsession-errors
/.xsession-errors.old

# csh/tcsh stuff I don't care about.
/.cshrc
/.login

# Desktop / GUI related stuff
/.cache
/.ccache
/.dbus
/Desktop
/Documents
/Download*
/Music
/Pictures
/Videos

# Macintosh stuff.
.DS_Store
.CFUserTextEncoding
/.Trash
/Library
/Applications*
/Movies
/Public

# Windows stuff
/.dnx
/.dotnet
/.git-for-windows-updater
/3D Objects
/AppData
/Application Data/
/Contacts
/Cookies/
/Evernote
/Favorites
/IntelGraphicsProfiles
/Links
/Local Settings/
/MicrosoftEdgeBackups
/My Documents/
/My Games
/NTUSER.DAT*
/NetHood/
/OneDrive
/PrintHood/
/Recent/
/Saved Games
/Searches
/SendTo/
/Start Menu/
/Templates/
/ntuser.dat*
/ntuser.ini*
/vimfiles
Thumbs.db


# Dropbox stuff
/Dropbox
/.dropbox
/.dropbox-dist

# Insync / Google Drive stuff
/*@gmail.com

# misc stuff
/.IdeaIC13
/.MakeMKV
/.NERDTreeBookmarks
/.VirtualBox
/.android
/.anyconnect
/.atom
/.cinnamon
/.cisco
/.davmail.properties
/.dlv
/.dmenu_cache
/.dmrc
/.docker
/.esd_auth
/.evolution
/.fontconfig
/.gconf
/.gconfd
/.gegl-*
/.gimp-*
/.gitk
/.gkrellm2
/.gksu.lock
/.gnome*
/.gnupg
/.gradle
/.gstreamer-*
/.gtk-bookmarks
/.hplip
/.icedtea
/.irbrc
/.java
/.jline-jython.history
/.jython-cache
/.m2
/.mozilla
/.mplayer
/.npm
/.nvidia-settings-rc
/.oracle_jre_usage
/.pki
/.pulse
/.pulse-cookie
/.purple
/.putty
/.pylint.d
/.pythonrc.local
/.recently-used
/.rhosts
/.selected_editor
/.ssh
/.steam
/.steampath
/.steampid
/.subversion
/.thumbnails
/.thunderbird
/.vscode
/.vscode-cpptools
/.vscode-server
/.wget-hsts
/.wine
/.xfce4-session.verbose-log
/.xfce4-session.verbose-log.last
/.xmms
/.xscreensaver
/.zsh_sessions
/Parallels
/go
davmail.log*

# archive formats.
*.tgz
*.bz2
*.txz
*.tar
*.tar.*
*.zip
*.7z


# Special
*.log
*.chroot

