# vim stuff
.viminfo
*.sw?
.vimrc
_vimrc
.gvimrc
_gvimrc
# various history files
.history
*_history
.lesshst
# xsession stuff.
.ICEauthority
.Xauthority
.xsession-errors
.xsession-errors.old
# Desktop / GUI related stuff
.cache
.dbus
Desktop
Downloads
Pictures
# Dropbox stuff
Dropbox
.dropbox
.dropbox-dist
# Insync / Google Drive stuff
*@gmail.com
# misc stuff
.gtk-bookmarks
.pythonrc.local
.selected_editor
# Crap I'm sure to never want committed to git.
.IdeaIC13
.VirtualBox
.android
.cinnamon
.dmenu_cache
.dmrc
.esd_auth
.evolution
.fontconfig
.gconf
.gconfd
.gegl-*
.gimp-*
.gitk
.gksu.lock
.gnome*
.gradle
.gstreamer-*
.icedtea
.java
.jline-jython.history
.jython-cache
.m2
.mozilla
.mplayer
.nvidia-settings-rc
.pki
.pulse
.pulse-cookie
.purple
.putty
.recently-used
.steam
.steampath
.steampid
.subversion
.thumbnails
.wine
