evershare.rc
fbpanel/local*
google-chrome/*
pop3-watcherrc
unix-backup.rc.local
Insync
Trolltech.conf
brasero
dconf
devilspie2
enchant
geeqie
gtk-2.0
htop
libfm
libreoffice
lxpanel
lxsession
lxterminal
menus
openbox
pcmanfm
ssh-tunneller.rc
vlc
xarchiver
