# Explicitly ignore these
Code
Insync
Mousepad
Qt
QtProject.conf
Thunar
Trolltech.conf
Unknown Organization
Yubico
abiword
autostart
brasero
caja
calibre
chromium
cros-garcon.conf
dconf
devilspie2
enchant
evershare.rc
fbpanel/local*
geeqie
git
google-chrome
gtk-2.0
gtk-3.0
hexchat
htop
inkscape
libfm
libreoffice
linuxmint
lxpanel
lxsession
lxterminal
menus
midori
mimeapps.list
mypaint
nemo
openbox
pcmanfm
pop3-watcherrc
psi
pulse
ristretto
squeeze
ssh-tunneller.rc
totem
unix-backup.rc.local
user-dirs.dirs
user-dirs.locale
vlc
weston.ini
xarchiver
xfburn
xfce4
