# Explicitly ignore these
k*
Amazon
Code
GIMP
Insync
KDE
Kitware
Mousepad
Plasma*
Qt
QtProject.conf
Slack
StardewValley
Thunar
Trolltech.conf
Unknown Organization
Yubico
abiword
autostart
brasero
caja
calibre
chromium
configstore/update-notifier-npm.json
cros-garcon.conf
dconf
devilspie2
enchant
evershare.rc
fbpanel/local*
geeqie
go
google-chrome
gtk-*.0
gtkrc*
hexchat
htop
inkscape
kde*
libfm
libreoffice
linuxmint
lxpanel
lxsession
lxterminal
menus
midori
mimeapps.list
mypaint
nemo
obs-studio
openbox
orage
pavucontrol.ini
pcmanfm
plasma*
pop3-watcherrc
psi
pulse
ristretto
squeeze
ssh-tunneller.rc
totem
unix-backup.rc.local
user-dirs.dirs
user-dirs.locale
vlc
vm_group*
weston.ini
wireshark
xarchiver
xfburn
xfce4
