
OUTDIR="${HOME}/Backups/Hosts/`uname -n`/`date +'%Y-%m-%d'`"
# OUTDIR="/tmp/Backups/Hosts/`uname -n`/`date +'%Y-%m-%d'`"

DUMP_HONOR_LEVEL=0
DUMP_COMPRESS_FORMAT="xz"
TAR_COMPRESS_FORMAT="xz"
ZIP_NO_COMPRESS=".gz:.bz2:.xz:.Z:.tar:.tar.gz:.tar.bz2:.tar.xz:.tar.Z:.tgz:.tbz2:.txz:.jar:.apk"

# source local machine config.
[ -f "${USR_RCFILE}.local" ] && . "${USR_RCFILE}.local"
